{% extends "base.html" %}
{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{%url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{%url 'account_logout' as logout_url %}
{% load i18n %}
{% load account socialaccount %}

{% trans "Sign In" %}

{% block content %}

<main>

    <div class="container-fluid">
        <div class="row justify-content-center justify-content-lg-end align-items-center vh-100 mx-2">
            <div class="col-10 col-md-6 col-lg-6 ms-lg-5">
                <div class="red-box p-4">
                    <h3 class="mb-3 text-center text-lg-start">{% trans "Sign In" %}</h3>
                    <p class="text-center text-lg-start">
                        {% blocktrans %}
                        Welcome back to the code|star blog. To leave a comment or like a post, please log in. 
                        If you have not created an account yet, then 
                        <a class="link" href="{{ signup_url }}">sign up</a> first.
                        {% endblocktrans %}
                    </p>
                    <form class="login mt-4" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-signup mt-2 w-100" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}