{% extends "base_accounts" %}
{% load i18n %}
{% load static %}
{% trans "Sign Out" %}

{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <!-- Use col-lg-8 for a wider box on large screens -->
        <div class="col-11 col-md-10 col-lg-8">
            <div class="red-box p-5 text-center">
                <h3 class="mb-3">{% trans "Log Out" %}</h3>
                <p class="mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-signup w-100" type="submit">{% trans 'Log Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}