{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Giftlist{% endblock %}

{% block content %}
<main>
    <div class="container d-flex justify-content-center align-items-center my-4">
        <!-- Centered Red Box -->
        <div class="red-box-solid p-4 shadow rounded" style="max-width: 30rem; width: 100%;">
            <h1 class="text-center mb-4">Edit Gift List</h1>
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-add mt-3 w-50">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
