{% extends "base.html" %}

{% block title %}Delete Gift List {{ object.person_name }}{% endblock %}

{% block content %}
<main>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="red-box-solid p-4 rounded shadow text-center" style="max-width: 30rem; width: 100%;">
            <h1 class="mb-4">Confirm Gift List Deletion</h1>
            <p class="mb-4">Are you sure you want to delete <strong>"{{ object.person_name }}"</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-2">
                    <input type="submit" value="Confirm" class="btn btn-delete w-50">
                    <a href="javascript:history.back()" class="btn btn-edit w-50">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
