{% extends "base.html" %}

{% block title %}Items - {{giftlist.person_name}}{% endblock %}

{% block content %}
<div class="container red-container">
    <div class="item-description mt-3 p-1">
        <h1 class="text-center">{{ giftlist.person_name }}</h1>
        <p class="text-center">Description: {{ item.description|safe }}</p>
        <p class="text-center">Link: {{ item.link|safe }}</p>
        <hr>
        <p><strong>Created at: </strong>{{ item.created_at }}</p>
        <p><strong>Updated at: </strong>{{ item.updated_at }}</p>

        {% if request.user == item.user %}
        <div class="text-center">
            <a href="" class="btn btn-primary w-25">Edit</a>
            <a href="" class="btn btn-primary w-25">Delete</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}